<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('raw-loader!./static/layout/meta.html').default %>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="preload" href="../static/lib/vendors.dll.js" as="script">
  <style><%= require('!!raw-loader!./static/css/reset.css').default %></style>
</head>

<body>
  <p class="page-title">Hello World!</p>
  <div id="app"></div>

  <script><%= require('!!raw-loader?esModule=false!babel-loader!./static/js/flexible.js') %></script>
  <script src="../static/lib/vendors.dll.js"></script>
</body>

</html>
